DJANGO_ENV=development
DEBUG=True
SECRET_KEY=your-secret-key-here
ALLOWED_HOSTS=localhost,127.0.0.1,192
CSRF_TRUSTED_ORIGINS=
DATABASE_URL=sqlite:///db.sqlite3

# メール送信設定 (Gmail App Password)
EMAIL_HOST_USER=your-gmail@gmail.com
EMAIL_HOST_PASSWORD=your-app-password
DEFAULT_FROM_EMAIL=your-gmail@gmail.com

# LINE Bot 設定
LINE_CHANNEL_ACCESS_TOKEN=
LINE_CHANNEL_SECRET=
LINE_BOT_BASIC_ID=


