# Python
*.pyc
__pycache__/
*.pyo

# Virtual environments
venv/
env/

# Environment variables
.env

# Database
db.sqlite3

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Django
staticfiles/
media/

# Jupyter
*.ipynb_checkpoints
