<!DOCTYPE html>
{% extends 'base.html' %}

{% block title %}日計表入力{% endblock %}

{% block content %}

  {% load static %}
  <link href="{% static 'css/styles_daily_report.css' %}" rel="stylesheet">
  <div class="container mt-4">
  <h1 class="text-center">ランチネット日計表入力</h1>
  <form method="POST" action="{% url 'daily_report' %}" onsubmit="return confirmSubmission();">
    {% csrf_token %}
    <div class="mb-3">
        <label for="date" class="form-label">日付</label>
        <select id="date" name="date" class="form-select" required>
            <option value="">-- 日付を選択 --</option>
            {% for date in dates %}
                <option value="{{ date }}" {% if date == selected_date %}selected{% endif %}>{{ date }}</option>
            {% endfor %}
            <!--日付選択カレンダー方式
            <label for="date">日付を選択:</label>
            <input type="date" id="date" name="date" class="form-select" required>-->
        </select>
    </div>
    <div class="row">
    <!-- 天気セクション -->
      <div class="col-6 col-md-6">
        <label class="form-label">天気</label>
        <div class="form-check">
            {% for weather_option in weather_options %}
                <input class="form-check-input" type="checkbox" name="weather" value="{{ weather_option }}" id="weather-{{ weather_option }}"
                {% if weather_option in selected_weather %}checked{% endif %}>
                <label class="form-check-label" for="weather-{{ weather_option }}">{{ weather_option }}</label><br>
            {% endfor %}
        </div>
      </div>

    <!-- 体感気温セクション -->
      <div class="col-6 col-md-6">
        <label class="form-label">体感気温</label>
        <div class="form-check">
            {% for temp_option in temp_options %}
                <input class="form-check-input" type="checkbox" name="temp" value="{{ temp_option }}" id="temp-{{ temp_option }}"
                {% if temp_option in selected_temp %}checked{% endif %}>
                <label class="form-check-label" for="temp-{{ temp_option }}">{{ temp_option }}</label><br>
            {% endfor %}
        </div>
      </div>
    </div>
    <br>
    <div class="mb-3">
        <label for="location" class="form-label">販売所</label>
        <select id="location" name="location" class="form-select" required>
            <option value="">-- 販売所を選択 --</option>
            {% for location in locations %}
                <option value="{{ location.name }}" {% if location.name == selected_location %}selected{% endif %}>{{ location.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3">
        <label for="担当者" class="form-label">担当者</label>
        {% if user.first_name %}
          <p id="担当者" class="form-control-static">{{ user.last_name }} {{ user.first_name }}</p>
        {% else %}
          <input type="text" id="担当者" name="担当者" class="form-control" required value="{{ selected_person }}">
        {% endif %}
    </div>
    <button type="submit" id="display-data-btn" name="action" value="display" class="btn btn-primary w-100 py-3">データを表示</button>

        {% if item_data %}
        {% load humanize %}
            <h2 class="bg-dark text-white mt-4">お弁当一覧</h2>
            <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th class="fixed-column">No</th>
                        <th class="fixed-column-2">メニュー</th>
                        <th>単価</th>
                        <th>持参数</th>
                        <th>販売数</th>
                        <th>残数</th>
                        <th>売上</th>
                        <th>完売</th>
                        <th>人気</th>
                        <th>不人気</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in item_data %}
                      {% if item.menu_no >= 1 and item.menu_no <= 10 %}
                        <tr>
                            <td class="fixed-column">{{ item.menu_no }}</td>
                            <td class="fixed-column-2">{{ item.menu_name }}</td>
                            <td><span id="price_{{ item.menu_no }}">{{ item.price|floatformat:0 }}</span></td>
                            <td><input type="number" id="quantity_{{ item.menu_no }}" name="quantity_{{ item.menu_no }}" class="form-control" min="0" value="{{ item.quantity }}">
                            </td>
                            <td>
                                <input type="number" name="sales_quantity_{{ item.menu_no }}"
                                       class="form-control" min="0" value="0"
                                       data-quantity="{{ item.quantity }}"
                                       data-price="{{ item.price }}"
                                       oninput="updateRemainingAndSales(this)">
                             <td>
                               <span id="remaining_display_{{ item.menu_no }}">{{ item.quantity }}</span>
                               <input type="hidden" id="remaining_{{ item.menu_no }}" name="remaining_{{ item.menu_no }}" value="{{ item.quantity }}">
                             </td>
                             <td>
                               <span id="total_sales_display_{{ item.menu_no }}">0</span>
                               <input type="hidden" id="total_sales_{{ item.menu_no }}" name="total_sales_{{ item.menu_no }}" value="0">
                           </td>
                            <td>
                                <input type="checkbox" id="sold_out_{{ item.menu_no }}" name="sold_out_{{ item.menu_no }}" onchange="toggleSoldOut(this, '{{ item.menu_no }}')">
                            </td>
                            <td>
                                <input type="checkbox" id="popular_{{ item.menu_no }}" name="popular_{{ item.menu_no }}">
                            </td>
                            <td>
                                <input type="checkbox" id="unpopular_{{ item.menu_no }}" name="unpopular_{{ item.menu_no }}">
                            </td>
                      </tr>
                      {% endif %}
                    {% endfor %}
                </tbody>
                <tfoot>
                  <tr class="total-row">
                      <td colspan="3" class="fixed-column fixed-column-2">合計</td>
                      <td id="total_quantity">0</td>
                      <input type="hidden" name="total_quantity" value="{{ total_quantity|default:'0' }}">
                      <td id="total_sales_quantity">0</td>
                      <input type="hidden" name="total_sales_quantity" value="{{ total_sales_quantity|default:'0' }}">
                      <td id="total_remaining">0</td>
                      <input type="hidden" name="total_remaining" value="{{ total_remaining|default:'0' }}">
                      <td id="total_total_sales">0</td>
                      <td>
                        <input type="checkbox" id="sold_out_total" onchange="toggleSoldOutTotal()">
                      </td>
                    </tr>
                </tfoot>
            </table>
            <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>メニュー</th>
                        <th>単価</th>
                        <th>持参数</th>
                        <th>販売数</th>
                        <th>残数</th>
                        <th>売上</th>
                        <th>完売</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in item_data %}
                      {% if item.menu_no == 11 %}
                      <tr>
                          <td>{{ item.menu_name }}</td>
                          <td><span id="price_{{ item.menu_no }}">{{ item.price|floatformat:0 }}</span></td>
                          <td><input type="number" id="quantity_{{ item.menu_no }}" name="quantity_{{ item.menu_no }}" class="form-control" min="0" value="{{ item.quantity }}">
                          </td>
                          <td>
                              <input type="number" name="sales_quantity_{{ item.menu_no }}"
                                     class="form-control" min="0" value="0"
                                     data-quantity="{{ item.quantity }}"
                                     data-price="{{ item.price }}"
                                     oninput="updateRemainingAndSales(this)">
                          </td>
                           <td>
                             <span id="remaining_display_{{ item.menu_no }}">{{ item.quantity }}</span>
                             <input type="hidden" id="remaining_{{ item.menu_no }}" name="remaining_{{ item.menu_no }}" value="{{ item.quantity }}">
                           </td>
                           <td>
                             <span id="total_sales_display_{{ item.menu_no }}">0</span>
                             <input type="hidden" id="total_sales_{{ item.menu_no }}" name="total_sales_{{ item.menu_no }}" value="0">
                         </td>
                          <td>
                              <input type="checkbox" id="sold_out_{{ item.menu_no }}" name="sold_out_{{ item.menu_no }}" onchange="toggleSoldOut(this, '{{ item.menu_no }}')">
                          </td>
                    </tr>
                    {% endif %}
                  {% endfor %}
              </tbody>
            </table>
            {% else %}
            {% endif %}
          </div>
          {% if item_data %}
          <!--その他売上セクション-->
          <div id="others-sales-section">
            <h2 class="bg-dark text-white mt-4">その他の売上入力</h2>
            <div class="row">
              <div class="col-12 col-md-4 mb-2">
                <label for="others_sales_1" class="form-label">項目①:</label>
                <div class="dropdown">
                  <!-- 切替ボタンの設定 -->
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    項目を選択
                  </button>
                  <!-- ドロップメニューの設定 -->
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    {% for item in othersitem %}
                    <li class="dropdown-item" data-value="{{ item.name }}" data-price1="{{ item.price }}" onclick="updatePrice(this, 1)">{{ item.name }}</li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
              <div class="col-6 mb-2 discount-item">
                <label for="others_price1" class="form-label">単価</label>
                <div class="input-group">
                  <input type="number" id="others_price1" name="others_price1" class="form-control others-input" min="0" value="0" readonly>
                  <span class="input-group-text">円</span>
                </div>
                <script>
                  function updatePrice(element, type) {
                    var price = element.getAttribute('data-price' + type);
                    document.getElementById('others_price' + type).value = price;
                  }
                </script>
              </div>
              <div class="col-6 mb-2 discount-item">
                  <label for="others_sales_quantity1" class="form-label">個数</label>
                  <div class="input-group">
                    <input type="number" id="others_sales_quantity1" name="others_sales_quantity1" class="form-control others-input" min="0" value="0">
                    <span class="input-group-text">個</span>
                  </div>
              </div>
              <div class="col-12 col-md-4 mb-2">
                <label for="others_sales_2" class="form-label">項目②:</label>
                <div class="dropdown">
                  <!-- 切替ボタンの設定 -->
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                    項目を選択
                  </button>
                  <!-- ドロップメニューの設定 -->
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                    {% for item in othersitem %}
                    <li class="dropdown-item" data-value="{{ item.name }}" data-price2="{{ item.price }}" onclick="updatePrice(this, 2)">{{ item.name }}</li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
              <div class="col-6 mb-2 discount-item">
                <label for="others_price2" class="form-label">単価</label>
                <div class="input-group">
                  <input type="number" id="others_price2" name="others_price2" class="form-control others-input" min="0" value="0" readonly>
                  <span class="input-group-text">円</span>
                </div>
              </div>
              <div class="col-6 mb-2 discount-item">
                  <label for="others_sales_quantity2" class="form-label">個数</label>
                  <div class="input-group">
                    <input type="number" id="others_sales_quantity2" name="others_sales_quantity2" class="form-control others-input" min="0" value="0">
                    <span class="input-group-text">個</span>
                  </div>
              </div>
            </div>
              <div class="mb-3">
                  <label for="total_others_sales" class="form-label">合計金額</label>
                  <div class="input-group">
                    <input type="text" id="total_others_sales" name="total_others_sales" class="form-control" readonly>
                    <span class="input-group-text">円</span>
                  </div>
              </div>
              <!-- 隠しフィールド -->
              <input type="hidden" id="selected_item_1" name="selected_item_1" value="">
              <input type="hidden" id="selected_item_2" name="selected_item_2" value="">
          </div>
          <!--割引セクション-->
          <div id="discount-section">
                    <h2 class="bg-dark text-white mt-4">割引入力</h2>
                    <div class="row">
                        <label class="form-label">ご飯 なし＆追加</label>
                        <!-- ご飯なし -->
                        <div class="col-6 mb-2 discount-item">
                            <div class="discount-item">
                              <label for="no_rice_quantity" class="form-label">なし(▲100円)</label>
                              <input type="number" id="no_rice_quantity" name="no_rice_quantity" class="form-control" min="0" value="0" onchange="updateDiscount()">
                            </div>
                        </div>
                        <!-- ご飯追加 -->
                        <div class="col-6 mb-2 discount-item">
                            <div class="discount-item">
                              <label for="extra_rice_quantity" class="form-label">追加(＋100円)</label>
                              <input type="number" id="extra_rice_quantity" name="extra_rice_quantity" class="form-control" min="0" value="0" onchange="updateDiscount()">
                            </div>
                        </div>

                        <hr class="my-2"> <!-- マージンを追加して区切り線のスタイルを調整 -->

                        <!-- クーポン -->
                        <label class="form-label">クーポン</label>
                        <div class="col-6 mb-2 discount-item">
                            <div class="discount-item">
                                <label for="coupon_type_600">600円</label>
                                <input type="number" id="coupon_type_600" name="coupon_type_600" class="form-control" min="0" value="0" onchange="updateDiscount()">
                            </div>
                        </div>
                        <div class="col-6 mb-2 discount-item">
                            <div class="discount-item">
                                <label for="coupon_type_700">700円</label>
                                <input type="number" id="coupon_type_700" name="coupon_type_700" class="form-control" min="0" value="0" onchange="updateDiscount()">
                            </div>
                        </div>

                        <hr class="my-2"> <!-- マージンを追加して区切り線のスタイルを調整 -->

                        <!-- 割引・返金円 -->
                        <label class="form-label">割引・返金</label>
                        <div class="col-6 mb-2 discount-item">
                            <div class="discount-item">
                                <label for="discount_50" class="form-label">▲50円</label>
                                <input type="number" id="discount_50" name="discount_50" class="form-control" min="0" value="0" onchange="updateDiscount()">
                            </div>
                        </div>
                        <div class="col-6 mb-2 discount-item">
                            <div class="discount-item">
                                <label for="discount_100" class="form-label">▲100円</label>
                                <input type="number" id="discount_100" name="discount_100" class="form-control" min="0" value="0" onchange="updateDiscount()">
                            </div>
                        </div>

                        <hr class="my-2"> <!-- マージンを追加して区切り線のスタイルを調整 -->


                      {% if service.service_name == 'なし' %}
                      {% elif service.service_name == 'サジェスト' %}
                        <div class="col-12 col-md-4 mb-2">
                            <label for="service_name" class="form-label">サービス名:</label>
                            <select id="service_name" name="service_name" class="form-control" onchange="updateServiceDiscount()">
                                <option value="0">選択してください</option>
                                <option value="{{ service.service_price }}" selected> {{ service.service_name }}{% if service.service_name != 'なし' %}{{ service.service_price }}円{% endif %}</option>
                            </select>
                        </div>
                        <!-- 100円引き -->
                        <div class="col-12 col-md-4 mb-2 discount-item">
                            <label for="service_type_100" class="form-label">サジェスト販売数</label>
                            <input type="number" id="service_type_100" name="service_type_100" class="form-control" min="0" value="0" onchange="updateDiscount()">
                        </div>
                        <hr class="my-2"> <!-- マージンを追加して区切り線のスタイルを調整 -->
                      {% else %}
                        <div class="col-12 col-md-4 mb-2">
                            <label for="service_name" class="form-label">サービス名:</label>
                            <select id="service_name" name="service_name" class="form-control" onchange="updateServiceDiscount()">
                                <option value="0">選択してください</option>
                                <option value="{{ service.service_price }}" selected> {{ service.service_name }} {% if service.service_name != 'なし' %}　{{ service.service_price }}円　{% endif %}</option>
                            </select>
                        </div>
                        <!-- サービスの割引（600円と700円の個数入力）-->
                        <label class="form-label">サービス販売個数</label>
                        <div class="col-6 mb-2 discount-item">
                            <div class="discount-item">
                                <label for="service_type_600">600円</label>
                                <input type="number" id="service_type_600" name="service_type_600" class="form-control" min="0" value="0" onchange="updateDiscount()">
                            </div>
                        </div>
                        <div class="col-6 mb-2 discount-item">
                            <div class="discount-item">
                                <label for="service_type_700">700円</label>
                                <input type="number" id="service_type_700" name="service_type_700" class="form-control" min="0" value="0" onchange="updateDiscount()">
                            </div>
                        </div>
                        <hr class="my-2"> <!-- マージンを追加して区切り線のスタイルを調整 -->
                      </div>
                      {% endif %}
                    <div class="mb-3">
                        <label for="total_discount" class="form-label">割引合計</label>
                        <div class="input-group">
                        <input type="text" id="total_discount" name="total_discount" class="form-control" readonly>
                        <span class="input-group-text">円</span>
                        </div>
                    </div>
            </div>
            {% endif %}
            <!-- 売上セクション -->
            {% if item_data %}
            <div id="sales-section">
                <h2 class="bg-dark text-white mt-4">売上入力</h2>
                <div class="mb-3">
                    <label for="total_revenue" class="form-label">総売上</label>
                    <div class="input-group">
                    <input type="text" id="total_revenue" name="total_revenue" class="form-control" readonly>
                    <span class="input-group-text">円</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4 mb-2">
                        <label for="paypay" class="form-label">PayPay</label>
                        <div class="input-group">
                        <input type="number" id="paypay" name="paypay" class="form-control" min="0" value="0" onchange="updateRevenue()">
                        <span class="input-group-text">円</span>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 mb-2">
                        <label for="digital_payment" class="form-label">電子決済</label>
                        <div class="input-group">
                        <input type="number" id="digital_payment" name="digital_payment" class="form-control" min="0" value="0" onchange="updateRevenue()">
                        <span class="input-group-text">円</span>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 mb-2">
                        <label for="cash" class="form-label">現金</label>
                        <div class="input-group">
                        <input type="number" id="cash" name="cash" class="form-control" min="0" value="0" onchange="updateRevenue()">
                        <span class="input-group-text">円</span>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="sales_difference" class="form-label">差額</label>
                    <div class="input-group">
                    <input type="text" id="sales_difference" name="sales_difference" class="form-control" readonly>
                    <span class="input-group-text">円</span>
                    </div>  
                </div>
            </div>
            <!-- 売上セクションの次に追加 -->
            <div id="time-section">
                <h2 class="bg-dark text-white mt-4">時間入力</h2>
                <div class="row">
                    <!-- 出発時間 -->
                    <div class="col-12 col-md-4 mb-2">
                        <label for="departure_time" class="form-label">出発時間</label>
                        <input type="time" id="departure_time" name="departure_time" class="form-control" value="00:00">
                    </div>
                    <!-- 到着時間 -->
                    <div class="col-12 col-md-4 mb-2">
                        <label for="arrival_time" class="form-label">到着時間</label>
                        <input type="time" id="arrival_time" name="arrival_time" class="form-control" value="00:00">
                    </div>
                    <!-- 開店時間 -->
                    <div class="col-12 col-md-4 mb-2">
                        <label for="opening_time" class="form-label">開店時間</label>
                        <input type="time" id="opening_time" name="opening_time" class="form-control" value="00:00">
                    </div>
                    <!-- 完売時間 -->
                    <div class="col-12 col-md-4 mb-2">
                        <label for="sold_out_time" class="form-label">完売時間</label>
                        <input type="time" id="sold_out_time" name="sold_out_time" class="form-control" value="00:00">
                    </div>
                    <!-- 閉店時間 -->
                    <div class="col-12 col-md-4 mb-2">
                        <label for="closing_time" class="form-label">閉店時間</label>
                        <input type="time" id="closing_time" name="closing_time" class="form-control">
                    </div>
                </div>
            </div>
            <!-- 経費セクション -->
            <div id="expenses-section">
                <h2 class="bg-dark text-white mt-4">経費入力</h2>
                <div class="row">
                    <div class="col-12 col-md-4 mb-2">
                        <label for="gasolin" class="form-label">ガソリン代</label>
                        <input type="number" id="gasolin" name="gasolin" class="form-control" min="0" value="0" onchange="updateRevenue()">
                    </div>
                    <div class="col-12 col-md-4 mb-2">
                        <label for="highway" class="form-label">高速代</label>
                        <input type="number" id="highway" name="highway" class="form-control" min="0" value="0" onchange="updateRevenue()">
                    </div>
                    <div class="col-12 col-md-4 mb-2">
                        <label for="parking" class="form-label">駐車場代</label>
                        <input type="number" id="parking" name="parking" class="form-control" min="0" value="0" onchange="updateRevenue()">
                    </div>
                    <div class="col-12 col-md-4 mb-2">
                        <label for="part" class="form-label">パート代</label>
                        <input type="number" id="part" name="part" class="form-control" min="0" value="0" onchange="updateRevenue()">
                    </div>
                    <div class="col-12 col-md-4 mb-2">
                        <label for="others" class="form-label">その他</label>
                        <input type="number" id="others" name="others" class="form-control" min="0" value="0" onchange="updateRevenue()">
                    </div>
                </div>
            </div>
            <!-- 情報入力セクション -->
            <div id="additional-section">
                <h2 class="bg-dark text-white mt-4">情報入力</h2>

                <!-- コメント入力欄 -->
                <div class="mb-3">
                    <label for="comment" class="form-label">コメント(来客状況やお客様からの要望など売場の情報)</label>
                    <textarea id="comment" name="comment" class="form-control" rows="3" placeholder="コメントを入力してください"></textarea>
                </div>

                <!-- 食数設定入力欄 -->
                <div class="mb-3">
                    <label for="food_count_setting" class="form-label">明日の食数設定(具体的な数字を提示！)</label>
                    <textarea id="food_count_setting" name="food_count_setting" class="form-control" rows="3" placeholder="食数を設定してください"></textarea>
                </div>

                <label class="form-label" style="color: red; text-decoration: underline; font-size: larger;">※閉店時間を入力したら送信できます。</label>
                <!-- 送信ボタン -->
                <div class="mb-3">
                    <button type="submit" name="action" value="send" class="btn btn-success w-100 py-3" id="submit-button" style="display: none;">送信</button>
                </div>
            </div>
            {% endif %}

    </form>
    {% endblock %}


    {% block extra_js %}

    {% load static %}
    <script src="{% static 'js/script.js' %}"></script>
    <script>

        // 各ドロップダウン内のアイテムを選択したときに対応するボタンのテキストを変更し、隠しフィールドに値をセット
        document.querySelectorAll('.dropdown-menu').forEach(dropdown => {
            dropdown.querySelectorAll('.dropdown-item').forEach(item => {
                item.addEventListener('click', function(event) {
                    event.preventDefault(); // リンクのデフォルト動作を防止
                    const selectedValue = this.getAttribute('data-value'); // 選択されたアイテムの値を取得
                    const dropdownButton = this.closest('.dropdown').querySelector('.dropdown-toggle');
                    dropdownButton.textContent = selectedValue; // 対応するボタンのテキストを変更

                    // 対応する隠しフィールドに値をセット
                    if (dropdownButton.id === 'dropdownMenuButton1') {
                        document.getElementById('selected_item_1').value = selectedValue;
                    } else if (dropdownButton.id === 'dropdownMenuButton2') {
                        document.getElementById('selected_item_2').value = selectedValue;
                    }
                });
            });
        });

        // 閉店時間が入力されている場合に送信ボタンを表示
        function toggleSubmitButton() {
            const closingTime = document.getElementById('closing_time').value;
            const submitButton = document.getElementById('submit-button');
            submitButton.style.display = closingTime ? 'block' : 'none';
        }
    
        // ページ読み込み時とinput変更時に実行
        document.addEventListener('DOMContentLoaded', toggleSubmitButton);
        document.getElementById('closing_time').addEventListener('input', toggleSubmitButton);
        
    </script>
    {% endblock %}
