{% extends 'base.html' %}

{% block title %}LSSダッシュボード{% endblock %}

{% block content %}
{% load custom_filters %}
{% load humanize %}
{% load static %}
<link href="{% static 'css/styles_dashboard.css' %}" rel="stylesheet">
<div class="container mt-4">
    <h1 class="mb-1">ようこそ、 {{ user.last_name }} {{ user.first_name }}さん</h1>
    <h1 class="mb-1">本日の販売実績 {{ today|japanese_date }}</h1>
    <hr class="my-4">
        <div class="row">
            <div class="col-md-9 mb-2">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <span>サマリー(おかずのみ)</span>
                    </div>
                    <div class="card-body summary-section" style="margin-bottom: -40px; overflow: auto;"> <!-- 下側の余白を狭く設定 -->
                        <div class="summary-item">
                            <h5 class="card-title">総持参数</h5>
                            <p class="card-text summary-number">{{ total_quantity|intcomma }}</p>
                        </div>
                        <div class="summary-item">
                            <h5 class="card-title">総販売数</h5>
                            <p class="card-text summary-number">{{ total_sales_quantity|intcomma }}</p>
                        </div>
                        <div class="summary-item">
                            <h5 class="card-title">総残数</h5>
                            <p class="card-text summary-number">{{ total_remaining|intcomma }}</p>
                        </div>
                        <div class="summary-item">
                            <h5 class="card-title">廃棄率</h5>
                            <p class="card-text summary-number">{{ formatted_waste_rate }}</p>
                        </div>
                    </div>
                    <div class="card-body summary-section" style="padding: 0px; overflow: auto;"> <!-- paddingとマージンを狭く設定 -->
                        <div class="summary-item">
                            <h5 class="card-title">総売上</h5>
                            <p class="card-text summary-number">{{ total_revenue|yen_format }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9 mb-2">
                <div class="card">
                    <div class="card-header">
                        メニュー別集計
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>NO</th>
                                    <th>メニュー名</th>
                                    <th>総持参数</th>
                                    <th>総販売数</th>
                                    <th>総残数</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in menu_summary %}
                                    <tr>
                                        <td>{{ item.product_no }}</td>
                                        <td>{{ item.product }}</td>
                                        <td>{{ item.total_quantity }}</td>
                                        <td>{{ item.total_sales_quantity }}</td>
                                        <td>{{ item.total_remaining }}</td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td colspan="4">データがありません</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-9 mb-4">
                <div class="card">
                    <div class="card-header">
                        販売場所別集計
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>NO</th>
                                    <th>販売場所</th>
                                    <th>持参数</th>
                                    <th>販売数</th>
                                    <th>残数</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for reports in report %}
                                    <tr>
                                        <td>{{ reports.location_no }}</td>
                                        <td>{{ reports.location }}</td>
                                        <td>{{ reports.total_quantity }}</td>
                                        <td>{{ reports.total_sales_quantity }}</td>
                                        <td>{{ reports.total_remaining }}</td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td colspan="4">データがありません</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
</div>
{% endblock %}
